<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Départements</title>
    {% load static %}  <!-- Charge ici les balises de gestion des fichiers statiques -->    
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body>
    <h1>Liste des départements</h1>
    <ul>
        {% for departement in departements %}  <!-- Correction ici pour la variable de la boucle -->
            <li>{{ departement.libele }}</li>
        {% endfor %}
    </ul>
</body>
</html>
